<%-include('partial/header') %>
<%-include('partial/nav') %>
<form >
    <div class="container mt-5 forget_password">
        <div class="mb-3 ">
            
           
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New Password</label>
                <input type="password" class="form-control" id="forgetpassword" name="password" id="exampleInputPassword1" required >
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">confirm Password</label>
                <input type="password" class="form-control" id="forgetcpassword" name="password" id="exampleInputPassword1" required >
            </div>

           
            
            <button type="button" onclick="updatePassword()" class="btn btn-dark">Save</button>
        </div>
        
    </form>
<%-include('partial/footer') %>