<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="post">Your Post</a>
                </li>
                
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="username" class="nav-link active" aria-current="page" href="profile"></a>
                    </li>
                    <li id="login_user" class="nav-item">
                        <a  class="nav-link active" aria-current="page" href="login">Login</a>
                    </li>
                    <li id="login_user" class="nav-item">
                        <a  class="nav-link active" aria-current="page" href="/register">Register</a>
                    </li>
                    
                </ul>
                <input class="form-control me-2" onkeyup="search()" id="input" type="text" placeholder="Search"
                    aria-label="Search">
                <!-- <a href="#" class="btn btn-outline-success" id="btn" type="btn">Search</a> -->
            </form>
        </div>
    </div>
</nav>